.container {
  min-height: 100vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #262626;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.section {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 45px;
  min-width: 800px;
  background: linear-gradient(45deg, #ff8400 30%, #ffa509 90%);
}

.section_app {
  border: 1px solid black;
  padding: 1.5rem;
  margin: 3rem;
  /* border-radius: 45px; */
  width: 70vw;
  min-height: 400px;
  background: linear-gradient(45deg, #ff8400 30%, #ffa509 90%);
}

.navbar {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin: 2rem 0rem;
  padding-bottom: 5rem;
  background: linear-gradient(
    0deg,
    #262626 0%,
    rgba(255, 165, 9, 1) 34%,
    rgba(255, 132, 0, 1) 62%,
    #262626 100%
  ); */
}
.navbarPadding {
  margin: 2rem 0rem;
}
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description a {
  text-decoration: none;
}

.description a:hover,
.description a:focus,
.description a:active {
  text-decoration: underline;
}

.title {
  color: rgb(197, 197, 197);
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  color: white;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  line-height: 1.5;
  font-size: 1.5rem;
}
.footerText {
  color: white;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  line-height: 1;
  font-size: 1rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: table;
  align-items: center;
  border-spacing: 20px;
  justify-content: center;
}

.table {
  display: table;
  align-items: center;
  border-spacing: 5px;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
}

.tableRow {
  display: table-row;
  border: 1px solid black;
}

.tableCell {
  display: table-cell;
  text-align: center;
  border-spacing: 20px;
  border: 1px solid black;
  justify-content: center;
}

/* .card {
  margin: 1rem;
  padding: 1.5rem;
  display: table-cell;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: linear-gradient(45deg, #ff8400 30%, #ffa509 90%);
  width: 45%;
} */

.dog {
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff8400 30%, #ffa509 90%);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 800px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .gridContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }
}
.containerWrapper {
  width: 60%;
  margin-top: 1rem;
}
.navbarLogo {
  width: 70px !important;
  padding: 10px 10px 0px 0;
}
.lineBreaker {
  margin: 50px 0;
  content: "";
  width: auto;
  height: 5px;
  background: linear-gradient(
    90deg,
    #262626 0%,
    rgba(255, 165, 9, 1) 34%,
    rgba(255, 132, 0, 1) 62%,
    #262626 100%
  );
  position: relative;
}
.externalLink {
  color: #ffa509;
}
.externalLink:hover {
  color: orange;
}
.borderCard {
  margin-top: 4rem;
  background: #262626;
  border: 1px solid transparent;
}
.borderCard:hover {
  background: #262626;
  border-image: linear-gradient(
      #262626 0%,
      rgba(255, 165, 9, 1) 34%,
      rgba(255, 132, 0, 1) 62%,
      #262626 100%
    )
    1;
}

.teamCard {
  width: 15rem !important;
  margin: 20px auto !important;
  border: none !important;
  background: #262626 !important;
}
.cardBody {
  height: 18rem;
  background: #262626;
  border-top: none;
  position: relative;
}

.cardDescription {
  color: white;
  font-size: 0.85rem;
  text-align: center;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.navbarColor {
  background: linear-gradient(
    0deg,
    #262626 0%,
    rgba(255, 165, 9, 1) 34%,
    rgba(255, 132, 0, 1) 62%,
    #262626 100%
  );
  padding-bottom: 5rem;
  width: 100%;
}

.pageBackgroundColor {
  background: #262626;
}

.navbarTitle {
  font-size: 1.25rem;
  line-height: 2;
}
.titlePhotoAbout {
  width: 19rem !important;
  display: block;
  margin: auto;
}
.titlePhotoWhitepaper {
  width: 32rem !important;
  display: block;
  margin: auto;
}
.titlePhotoTeam {
  width: 15rem !important;
  display: block;
  margin: auto;
}
.titlePhotoRoadMap {
  width: 24rem !important;
  display: block;
  margin: auto;
}
.titleContactUS {
  width: 28rem !important;
  display: block;
  margin: auto;
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  display: block;
  margin: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(197, 197, 197);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: "";
  /* show by default */
}

.links {
  font-family: sans-serif;
}
.link:hover {
  color: rgb(197, 197, 197);
}
.links::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.links:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.box {
  width: 16rem;
  height: 40rem;
  margin: 20px auto;
  padding: 2px;
  /* border: none !important; */
  background: #262626 !important;
  background-color: #262626;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.box:hover {
  width: 16rem;
  height: 40rem;
  margin: 20px auto;
  padding: 2px;
  /* background: #262626;
  background-color: #262626;
  background-color: orange; */
  box-shadow: 0 0 12px rgba(255, 165, 9, 0.4);

  /* gold */
  /* Single pixel data uri image http://jsfiddle.net/LPxrT/ 
  /* background-image: gold, gold, white */
  /* background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="),
    url("data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="),
    url("data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="),
    url("data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==") !important;
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 1s; */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
  0% {
    background-size: 0 2px, 0 0, 100% 100%;
  }
  20% {
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  66% {
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  99% {
    background-size: 100% 2px, 100% 98%, 0 2px;
  }
}

.navbarButton {
  padding: 10px 30px;
  margin: 1rem;
  border-radius: 25px;
  color: #fff;
  border: 3px solid #262626;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  background-image: -webkit-linear-gradient(
    30deg,
    #262626 50%,
    transparent 50%
  );
  background-image: linear-gradient(
    30deg,
    #262626 50%,
    rgba(255, 165, 9, 1) 50%
  );
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.navbarButton:hover {
  background-position: 100%;
  color: #262626;
  /* background: orange; */
}
.navbarButton {
  font-weight: 200;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.navbarButtonsWrapper {
  margin-top: 2rem;
  text-align: center;
}
.navbarButtonsWrapper button {
  width: 12rem;
}
@media (min-width: 1100px) {
  .containerWrapper {
    width: 90%;
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .description {
    font-size: 1.2rem;
    transform: scale(0.95);
  }
  .navbarHeaderWrapper {
    /* max-width: 540px; */
    width: 90%;
    /* padding: 30px; */
    margin: 0px auto;
    display: block;
  }
  .navbarButtonsWrapper {
    margin-top: 4rem;
    text-align: center;
  }
  .titlePhotoAbout {
    width: 70% !important;
  }
  .titlePhotoWhitepaper {
    width: 100% !important;
  }
  .titlePhotoTeam {
    width: 50% !important;
  }
  .titlePhotoRoadMap {
    width: 80% !important;
  }
  .titleContactUS {
    width: 90% !important;
  }
}

.teamSocialContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  bottom: 0;
}
.dogsAlbum {
  width: 60% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
}
.dogsAlbumRow {
  margin-top: 3.5rem !important;
}
.ModelDogImg {
  width: 100%;
  position: initial;
}
.modalWindow {
  width: 100%;
  padding: 0 !important;
}
@media (min-width: 1100px) {
  .dogsAlbum {
    width: 60% !important;
  }
}
@media (max-width: 600px) {
  .dogsAlbum {
    width: 100% !important;
  }
  .ModelDogImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }
  .modalWindow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
  }
}
